USE [dbIvan]
GO
/****** Object:  StoredProcedure [dbo].[P0001SHPR_USUA_LIST]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P0001SHPR_USUA_LIST]
	@P0001COD_USUA NVARCHAR(24),
	@P0001ALF_PASS NVARCHAR(500),
	@P0001NUM_ACCI INT
AS
	BEGIN
		IF @P0001NUM_ACCI=1
			BEGIN
				SELECT
					COD_USUA
				FROM
					SHMC_USUA
				WHERE
					COD_USUA=@P0001COD_USUA
					AND ALF_PASS=@P0001ALF_PASS
			END
	END

GO
/****** Object:  StoredProcedure [dbo].[P0002SHPR_USUA_LIST]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P0002SHPR_USUA_LIST]
	@P0001COD_USUA NVARCHAR(24),
	@P0001NUM_ACCI INT
AS
	BEGIN
		IF @P0001NUM_ACCI=1
			BEGIN
				SELECT
					T1.COD_USUA,
					T2.ALF_AGEN,
					T2.ALF_DNII,
					T2.ALF_DIRE
				FROM
					SHMC_USUA T1 INNER JOIN SHMC_AGEN T2
						ON T2.COD_AGEN=T1.COD_AGEN
			END
		ELSE IF @P0001NUM_ACCI=2
			BEGIN
				SELECT
					T1.COD_AGEN,
					T1.COD_USUA,
					T2.ALF_AGEN,
					T2.ALF_DNII,
					T2.ALF_DIRE,
					T1.ALF_PASS,
					T1.COD_TIPO_USUA,
					ISNULL(T1.NUM_TOKE,0) AS NUM_TOKE,
					T1.IND_ACTI
				FROM
					SHMC_USUA T1 INNER JOIN SHMC_AGEN T2
						ON T2.COD_AGEN=T1.COD_AGEN
				WHERE
					T1.COD_USUA=@P0001COD_USUA
			END
	END

GO
/****** Object:  StoredProcedure [dbo].[P0003SHPR_AGEN_LIST]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P0003SHPR_AGEN_LIST]
	@P0003COD_AGEN INT,
	@P0003ALF_AGEN NVARCHAR(256),
	@P0003ALF_DNII NVARCHAR(512),
	@P0003NUM_ACCI INT
AS
	BEGIN
		IF @P0003NUM_ACCI=1
			BEGIN
				SELECT 
					T1.COD_AGEN,
					T1.ALF_AGEN,
					T1.ALF_DNII,
					T1.ALF_DIRE
				FROM
					SHMC_AGEN T1
				WHERE
					T1.ALF_AGEN LIKE '%'+@P0003ALF_AGEN+'%'
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[P0004SHPR_TIPO_USUA_LIST]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P0004SHPR_TIPO_USUA_LIST]
	@P0004COD_TIPO_USUA INT,
	@P0004ALF_TIPO_USUA NVARCHAR(24),
	@P0004NUM_ACCI INT
AS
	BEGIN
		IF @P0004NUM_ACCI=1
			BEGIN
				SELECT
					T1.COD_TIPO_USUA,
					T1.ALF_TIPO_USUA
				FROM
					SHMC_TIPO_USUA T1
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[P0005SHPR_USUA]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P0005SHPR_USUA]
	@P0005COD_AGEN INT,
	@P0005COD_USUA NVARCHAR(24),
	@P0005ALF_PASS NVARCHAR(512),
	@P0005COD_TIPO_USUA INT,
	@P0005IND_ACTI BIT,
	@P0005NUM_TOKE INT OUTPUT,
	@P0005COD_USUA_CREA NVARCHAR(24),
	@P0005COD_USUA_MODI NVARCHAR(24),
	@P0005NUM_ACCI INT
AS
	BEGIN
		DECLARE @VP0005NUM_VALI INT
		IF @P0005NUM_ACCI=1
			BEGIN
				SET @VP0005NUM_VALI=(SELECT COUNT(COD_USUA) FROM SHMC_USUA WHERE COD_USUA=@P0005COD_USUA)

				IF @VP0005NUM_VALI>0
					BEGIN
						RAISERROR('El usuario ya esta registrado en el sistema.',13,1)
						RETURN
					END

				IF @P0005COD_TIPO_USUA=1
					SET @P0005NUM_TOKE=0
				ELSE
					SET @P0005NUM_TOKE=ROUND(((999999 - 100000 -1) * RAND() + 100000), 0)

				INSERT INTO SHMC_USUA 
					(
						COD_USUA,
						ALF_PASS,
						COD_AGEN,
						COD_USUA_CREA,
						FEC_CREA,
						FEC_MODI,
						COD_USUA_MODI,
						COD_TIPO_USUA,
						IND_ACTI,
						NUM_TOKE
					)
				VALUES(
					@P0005COD_USUA,
					@P0005ALF_PASS,
					@P0005COD_AGEN,
					@P0005COD_USUA_CREA,
					GETDATE(),
					NULL,
					NULL,
					@P0005COD_TIPO_USUA,
					@P0005IND_ACTI,
					@P0005NUM_TOKE
				)
			END
		ELSE IF @P0005NUM_ACCI=2
			BEGIN
				IF @P0005COD_TIPO_USUA=1
					BEGIN
						SET @P0005NUM_TOKE=0
					END
				ELSE
					BEGIN
						SET @P0005NUM_TOKE=ROUND(((999999 - 100000 -1) * RAND() + 100000), 0)
						SET @P0005IND_ACTI=0
					END
					
				UPDATE 
						SHMC_USUA 
					SET
						ALF_PASS=@P0005ALF_PASS,
						COD_USUA_MODI=@P0005COD_USUA_MODI,
						FEC_MODI=GETDATE(),
						IND_ACTI=@P0005IND_ACTI,
						NUM_TOKE=@P0005NUM_TOKE
				WHERE
					COD_USUA=@P0005COD_USUA
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[P0006SHPR_USUA]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P0006SHPR_USUA]
	@P0005COD_USUA NVARCHAR(24),
	@P0006NUM_TOKE INT,
	@P0006ALF_PASS NVARCHAR(128),
	@P0006ALF_AGEN NVARCHAR(128) OUTPUT,
	@P0006NUM_ACCI INT
AS
	BEGIN
		DECLARE @VP0005NUM_VALI INT
		IF @P0006NUM_ACCI=1
			BEGIN
				SET @VP0005NUM_VALI=(SELECT COUNT(COD_USUA) 
									FROM SHMC_USUA 
									WHERE COD_USUA=@P0005COD_USUA 
									AND NUM_TOKE=@P0006NUM_TOKE
									AND ALF_PASS=@P0006ALF_PASS
									AND IND_ACTI=0)
				
				IF @VP0005NUM_VALI=0
					BEGIN
						RAISERROR('Información de usuario invalida.',13,1)
						RETURN
					END
				ELSE
					BEGIN
						UPDATE 
								SHMC_USUA 
							SET
								COD_USUA_MODI=@P0005COD_USUA,
								FEC_MODI=GETDATE(),
								IND_ACTI=1
						WHERE
							COD_USUA=@P0005COD_USUA
							AND NUM_TOKE=@P0006NUM_TOKE

						SET @P0006ALF_AGEN=(SELECT ALF_AGEN FROM SHMC_AGEN WHERE COD_AGEN=(SELECT COD_AGEN FROM SHMC_USUA WHERE COD_USUA=@P0005COD_USUA))
					END
			END
		ELSE IF @P0006NUM_ACCI=2
			BEGIN
				SET @VP0005NUM_VALI=(SELECT COUNT(COD_USUA) 
									FROM SHMC_USUA 
									WHERE COD_USUA=@P0005COD_USUA 
									AND ALF_PASS=@P0006ALF_PASS
									AND IND_ACTI=1)
				
				IF @VP0005NUM_VALI=0
					BEGIN
						RAISERROR('Información de usuario invalida.',13,1)
						RETURN
					END
				ELSE
					BEGIN
						SET @P0006ALF_AGEN=(SELECT ALF_AGEN FROM SHMC_AGEN WHERE COD_AGEN=(SELECT COD_AGEN FROM SHMC_USUA WHERE COD_USUA=@P0005COD_USUA))
					END
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[P0007SHPR_MORO_LIST]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P0007SHPR_MORO_LIST]
	@P0007COD_AGEN INT,
	@P0007NUM_ACCI INT
AS
	BEGIN
		IF @P0007NUM_ACCI=1
			BEGIN
				SELECT 
					T1.COD_MORO,
					T1.ALF_MORO,
					T1.ALF_DNII,
					T1.ALF_DESC_DEUD,
					T1.ALF_DIRE,
					T4.ALF_DEPA,
					T4.ALF_PROV,
					T4.ALF_DIST
				FROM
					SHMC_MORO T1 INNER JOIN SHMD_CAMP_MORO T2
						ON T2.COD_MORO=T1.COD_MORO
							AND T2.COD_AGEN=@P0007COD_AGEN
					INNER JOIN SHMC_CAMP T3
						ON T3.COD_CAMP=T2.COD_CAMP
							AND T3.IND_CERR=0
					INNER JOIN SHMC_UBIG T4
						ON T4.COD_UBIG=T1.COD_UBIG
				WHERE
					T1.COD_MORO NOT IN (SELECT _T1.COD_MORO 
										FROM SHMC_VISI _T1 
										INNER JOIN SHMC_REPO _T2
										ON _T2.COD_VISI=_T2.COD_VISI
											AND _T1.COD_MORO=T1.COD_MORO
											AND _T1.COD_CAMP=T2.COD_CAMP)
			END		
	END
GO
/****** Object:  StoredProcedure [dbo].[P0008SHPR_VISI]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P0008SHPR_VISI]
	@P0008COD_VISI INT OUTPUT,
	@P0008COD_AGEN INT,
	@P0008COD_MORO INT,
	@P0008FEC_VISI DATETIME,
	@P0008ALF_GPSS_PART NVARCHAR(32),
	@P0008ALF_GPSS_LLEG NVARCHAR(32),
	@P0008COD_USUA NVARCHAR(24),
	@P0008NUM_ACCI INT
AS
	 BEGIN
		DECLARE @VP0008COD_CAMP INT
		DECLARE @VP0008IND_ESTA BIT
		IF @P0008NUM_ACCI=1
			BEGIN
				SET @P0008COD_VISI=ISNULL((SELECT MAX(COD_VISI) FROM SHMC_VISI),0)+1
				SET @VP0008IND_ESTA=0
				SET @VP0008COD_CAMP=(SELECT _T1.COD_CAMP 
										FROM SHMD_CAMP_MORO _T1 
										INNER JOIN SHMC_CAMP _T2
										ON _T2.COD_CAMP=_T1.COD_CAMP
										WHERE _T1.COD_MORO=@P0008COD_MORO)

				INSERT INTO SHMC_VISI VALUES
					(
						@P0008COD_VISI,
						@VP0008COD_CAMP,
						@P0008COD_AGEN,
						@P0008COD_MORO,
						@P0008FEC_VISI,
						@VP0008IND_ESTA,
						@P0008ALF_GPSS_PART,
						@P0008ALF_GPSS_LLEG,
						@P0008COD_USUA,
						GETDATE(),
						NULL,
						NULL
					)
					
			END
	 END
GO
/****** Object:  StoredProcedure [dbo].[P0009SHPR_REPO]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P0009SHPR_REPO]
	@P0009COD_REPO INT OUTPUT,
	@P0009COD_VISI INT,
	@P0009FEC_REPO DATETIME,
	@P0009ALF_REPO NVARCHAR(1024),
	@P0009COD_USUA NVARCHAR(24),
	@P0009NUM_ACCI INT
AS
	BEGIN
		SET NOCOUNT ON;
		DECLARE @VP0009COD_VISI INT
		DECLARE @VP0009COD_CAMP INT
		IF @P0009NUM_ACCI=1
			BEGIN
				SET @P0009COD_REPO=ISNULL((SELECT MAX(COD_REPO) FROM SHMC_REPO),0)+1
				INSERT INTO SHMC_REPO VALUES
					(
						@P0009COD_REPO,
						@P0009COD_VISI,
						@P0009FEC_REPO,
						@P0009ALF_REPO,
						@P0009COD_USUA,
						GETDATE(),
						NULL,
						NULL
					)
			END
	END
GO
/****** Object:  Table [dbo].[SHMC_AGEN]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHMC_AGEN](
	[COD_AGEN] [int] NOT NULL,
	[COD_UBIG] [nvarchar](8) NOT NULL,
	[ALF_AGEN] [nvarchar](256) NOT NULL,
	[ALF_DNII] [nvarchar](16) NOT NULL,
	[ALF_DIRE] [nvarchar](512) NOT NULL,
	[COD_USUA_CREA] [nvarchar](24) NOT NULL,
	[FEC_CREA] [datetime] NOT NULL,
	[COD_USUA_MODI] [nvarchar](24) NULL,
	[FEC_MODI] [datetime] NULL,
 CONSTRAINT [XPKSHMC_AGEN] PRIMARY KEY CLUSTERED 
(
	[COD_AGEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHMC_CAMP]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHMC_CAMP](
	[COD_CAMP] [int] NOT NULL,
	[COD_CLIE] [int] NOT NULL,
	[ALF_CAMP] [nvarchar](128) NOT NULL,
	[ALF_DESC] [nvarchar](512) NOT NULL,
	[FEC_DESD] [datetime] NOT NULL,
	[FEC_HAST] [datetime] NOT NULL,
	[IND_CERR] [bit] NOT NULL,
	[COD_USUA_CREA] [nvarchar](24) NOT NULL,
	[FEC_CREA] [datetime] NOT NULL,
	[COD_USUA_MODI] [nvarchar](24) NULL,
	[FEC_MODI] [datetime] NULL,
 CONSTRAINT [XPKSHMC_CAMP] PRIMARY KEY CLUSTERED 
(
	[COD_CAMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHMC_CLIE]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHMC_CLIE](
	[COD_CLIE] [int] NOT NULL,
	[ALF_CLIE] [nvarchar](256) NOT NULL,
	[ALF_DESC] [nvarchar](1024) NOT NULL,
	[COD_USUA_CREA] [nvarchar](24) NOT NULL,
	[FEC_CREA] [datetime] NOT NULL,
	[COD_USUA_MODI] [nvarchar](24) NULL,
	[FEC_MODI] [datetime] NULL,
 CONSTRAINT [XPKSHMC_CLIE] PRIMARY KEY CLUSTERED 
(
	[COD_CLIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHMC_MORO]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHMC_MORO](
	[COD_MORO] [int] NOT NULL,
	[COD_UBIG] [nvarchar](8) NOT NULL,
	[ALF_MORO] [nvarchar](256) NOT NULL,
	[ALF_DNII] [nvarchar](16) NOT NULL,
	[ALF_DIRE] [nvarchar](256) NOT NULL,
	[ALF_DESC_DEUD] [nvarchar](512) NOT NULL,
	[COD_USUA_CREA] [nvarchar](24) NOT NULL,
	[FEC_CREA] [datetime] NOT NULL,
	[COD_USUA_MODI] [nvarchar](24) NULL,
	[FEC_MODI] [datetime] NULL,
 CONSTRAINT [XPKSHMC_MORO] PRIMARY KEY CLUSTERED 
(
	[COD_MORO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHMC_REPO]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHMC_REPO](
	[COD_REPO] [int] NOT NULL,
	[COD_VISI] [int] NOT NULL,
	[FEC_REPO] [datetime] NOT NULL,
	[ALF_REPO] [nvarchar](1024) NOT NULL,
	[COD_USUA_CREA] [nvarchar](24) NOT NULL,
	[FEC_CREA] [datetime] NOT NULL,
	[COD_USUA_MODI] [nvarchar](24) NULL,
	[FEC_MODI] [datetime] NULL,
 CONSTRAINT [XPKSHMC_REPO] PRIMARY KEY CLUSTERED 
(
	[COD_REPO] ASC,
	[COD_VISI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHMC_TIPO_USUA]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHMC_TIPO_USUA](
	[COD_TIPO_USUA] [int] NOT NULL,
	[ALF_TIPO_USUA] [nvarchar](128) NOT NULL,
	[COD_USUA_CREA] [nvarchar](24) NOT NULL,
	[FEC_CREA] [datetime] NOT NULL,
	[COD_USUA_MODI] [nvarchar](24) NULL,
	[FEC_MODI] [datetime] NULL,
 CONSTRAINT [XPKSHMC_TIPO_USUA] PRIMARY KEY CLUSTERED 
(
	[COD_TIPO_USUA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHMC_UBIG]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHMC_UBIG](
	[COD_UBIG] [nvarchar](8) NOT NULL,
	[ALF_DEPA] [nvarchar](100) NOT NULL,
	[ALF_PROV] [nvarchar](100) NOT NULL,
	[ALF_DIST] [nvarchar](100) NOT NULL,
	[COD_USUA_CREA] [nvarchar](24) NOT NULL,
	[FEC_CREA] [datetime] NOT NULL,
	[COD_USUA_MODI] [nvarchar](24) NULL,
	[FEC_MODI] [datetime] NULL,
 CONSTRAINT [XPKSHMC_UBIG] PRIMARY KEY CLUSTERED 
(
	[COD_UBIG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHMC_USUA]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHMC_USUA](
	[COD_USUA] [nvarchar](24) NOT NULL,
	[COD_TIPO_USUA] [int] NOT NULL,
	[COD_AGEN] [int] NOT NULL,
	[ALF_PASS] [nvarchar](256) NOT NULL,
	[NUM_TOKE] [int] NULL,
	[IND_ACTI] [bit] NOT NULL,
	[COD_USUA_CREA] [nvarchar](24) NOT NULL,
	[FEC_CREA] [datetime] NOT NULL,
	[COD_USUA_MODI] [nvarchar](24) NULL,
	[FEC_MODI] [datetime] NULL,
 CONSTRAINT [XPKSHMC_USUA] PRIMARY KEY CLUSTERED 
(
	[COD_USUA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHMC_VISI]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHMC_VISI](
	[COD_VISI] [int] NOT NULL,
	[COD_CAMP] [int] NOT NULL,
	[COD_AGEN] [int] NOT NULL,
	[COD_MORO] [int] NOT NULL,
	[FEC_VISI] [datetime] NOT NULL,
	[IND_ESTA] [bit] NOT NULL,
	[ALF_GPSS_PART] [nvarchar](32) NULL,
	[ALF_GPSS_LLEG] [nvarchar](32) NULL,
	[COD_USUA_CREA] [nvarchar](24) NOT NULL,
	[FEC_CREA] [datetime] NOT NULL,
	[COD_USUA_MODI] [nvarchar](24) NULL,
	[FEC_MODI] [datetime] NULL,
 CONSTRAINT [XPKSHMC_VISI] PRIMARY KEY CLUSTERED 
(
	[COD_VISI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHMD_CAMP_AGEN]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHMD_CAMP_AGEN](
	[COD_AGEN] [int] NOT NULL,
	[COD_CAMP] [int] NOT NULL,
	[COD_USUA_CREA] [nvarchar](24) NOT NULL,
	[FEC_CREA] [datetime] NOT NULL,
	[COD_USUA_MODI] [nvarchar](24) NULL,
	[FEC_MODI] [datetime] NULL,
 CONSTRAINT [XPKSHMD_CAMP_AGEN] PRIMARY KEY CLUSTERED 
(
	[COD_AGEN] ASC,
	[COD_CAMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHMD_CAMP_MORO]    Script Date: 23/09/2017 04:55:48 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHMD_CAMP_MORO](
	[COD_MORO] [int] NOT NULL,
	[COD_CAMP] [int] NOT NULL,
	[COD_AGEN] [int] NOT NULL,
	[COD_USUA_CREA] [nvarchar](24) NOT NULL,
	[FEC_CREA] [datetime] NOT NULL,
	[COD_USUA_MODI] [nvarchar](24) NULL,
	[FEC_MODI] [datetime] NULL,
 CONSTRAINT [XPKSHMD_CAMP_MORO] PRIMARY KEY CLUSTERED 
(
	[COD_MORO] ASC,
	[COD_CAMP] ASC,
	[COD_AGEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[SHMC_AGEN] ([COD_AGEN], [COD_UBIG], [ALF_AGEN], [ALF_DNII], [ALF_DIRE], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (1, N'150101', N'IVAN VELARDE', N'40627812', N'AV. LAS ALAMEDAS VERDES 234 SAN JUAN DE LURIGANCHO', N'ivelarde', CAST(0x0000A7EA00000000 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_AGEN] ([COD_AGEN], [COD_UBIG], [ALF_AGEN], [ALF_DNII], [ALF_DIRE], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (2, N'150101', N'MICHAL ELMENTHALER', N'42561524', N'AV. LAS ASTAS 567 SANTIAGO DE SURCO', N'ivelarde', CAST(0x0000A7EA00000000 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_AGEN] ([COD_AGEN], [COD_UBIG], [ALF_AGEN], [ALF_DNII], [ALF_DIRE], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (3, N'150101', N'JUAN GRANADOS', N'24561767', N'JR. LAS JARDIAS 678 SANTA ANITA', N'ivelarde', CAST(0x0000A7EA00000000 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_CAMP] ([COD_CAMP], [COD_CLIE], [ALF_CAMP], [ALF_DESC], [FEC_DESD], [FEC_HAST], [IND_CERR], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (1, 1, N'COBRANZAS PARA PRESTAMISTAS', N'DEBE REALIZARCE RAPIDO', CAST(0x0000A7E100000000 AS DateTime), CAST(0x0000A7FE00000000 AS DateTime), 0, N'ivelarde', CAST(0x0000A7EA00D87673 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_CLIE] ([COD_CLIE], [ALF_CLIE], [ALF_DESC], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (1, N'PRETAMOS PERU', N'EMPRESA PRESTAMISTA', N'ivelarde', CAST(0x0000A7EA00D7EAEB AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_MORO] ([COD_MORO], [COD_UBIG], [ALF_MORO], [ALF_DNII], [ALF_DIRE], [ALF_DESC_DEUD], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (1, N'150101', N'MARIA INES ABADIE FOSSATTI', N'40987654', N'AV. PALERMO N° 449 URB. BALCONCILLO', N'', N'ivelarde', CAST(0x0000A7EA00D6B3DA AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_MORO] ([COD_MORO], [COD_UBIG], [ALF_MORO], [ALF_DNII], [ALF_DIRE], [ALF_DESC_DEUD], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (2, N'150101', N'RAQUEL ELIZABET ABAL NICOLARI', N'40987654', N'JR. CARHUAZ N° 1468', N'', N'ivelarde', CAST(0x0000A7EA00D6B3DA AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_MORO] ([COD_MORO], [COD_UBIG], [ALF_MORO], [ALF_DNII], [ALF_DIRE], [ALF_DESC_DEUD], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (3, N'150101', N'MARÍA ROSARIO ABALDE MARTINEZ', N'40987654', N'JR. OLMEDO NÂº 491', N'', N'ivelarde', CAST(0x0000A7EA00D6B3DA AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_REPO] ([COD_REPO], [COD_VISI], [FEC_REPO], [ALF_REPO], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (1, 6, CAST(0x0000A7EA00000000 AS DateTime), N'El moroso indica que se aproximara a realizar su pago en los siguientes 7 días', N'ivelarde', CAST(0x0000A7EA010D2151 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_TIPO_USUA] ([COD_TIPO_USUA], [ALF_TIPO_USUA], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (1, N'OPERADOR', N'ivelarde', CAST(0x0000A7EA00000000 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_TIPO_USUA] ([COD_TIPO_USUA], [ALF_TIPO_USUA], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (2, N'MOVIL', N'ivelarde', CAST(0x0000A7EA00000000 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_UBIG] ([COD_UBIG], [ALF_DEPA], [ALF_PROV], [ALF_DIST], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (N'010101', N'AMAZONAS', N'CHACHAPOYAS', N'CHACHAPOYAS', N'ivelarde', CAST(0x0000A7EA00CE254C AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_UBIG] ([COD_UBIG], [ALF_DEPA], [ALF_PROV], [ALF_DIST], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (N'010102', N'AMAZONAS', N'CHACHAPOYAS', N'ASUNCION', N'ivelarde', CAST(0x0000A7EA00CE254C AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_UBIG] ([COD_UBIG], [ALF_DEPA], [ALF_PROV], [ALF_DIST], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (N'010103', N'AMAZONAS', N'CHACHAPOYAS', N'BALSAS', N'ivelarde', CAST(0x0000A7EA00CE254C AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_USUA] ([COD_USUA], [COD_TIPO_USUA], [COD_AGEN], [ALF_PASS], [NUM_TOKE], [IND_ACTI], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (N'caguilar', 2, 4, N'1234', 372427, 1, N'ivelarde', CAST(0x0000A7F701049811 AS DateTime), N'caguilar', CAST(0x0000A7F701075AB2 AS DateTime))
GO
INSERT [dbo].[SHMC_USUA] ([COD_USUA], [COD_TIPO_USUA], [COD_AGEN], [ALF_PASS], [NUM_TOKE], [IND_ACTI], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (N'ivelarde', 1, 1, N'123456', 0, 1, N'ivelarde', CAST(0x0000A7EA00000000 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_USUA] ([COD_USUA], [COD_TIPO_USUA], [COD_AGEN], [ALF_PASS], [NUM_TOKE], [IND_ACTI], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (N'jgranados', 2, 3, N'7890', 484174, 1, N'ivelarde', CAST(0x0000A7F701079F2D AS DateTime), N'jgranados', CAST(0x0000A7F701083B86 AS DateTime))
GO
INSERT [dbo].[SHMC_VISI] ([COD_VISI], [COD_CAMP], [COD_AGEN], [COD_MORO], [FEC_VISI], [IND_ESTA], [ALF_GPSS_PART], [ALF_GPSS_LLEG], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (1, 1, 2, 16, CAST(0x0000A7EA00000000 AS DateTime), 0, N'1.9999', N'1.9999', N'ivelarde', CAST(0x0000A7EA0104319B AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_VISI] ([COD_VISI], [COD_CAMP], [COD_AGEN], [COD_MORO], [FEC_VISI], [IND_ESTA], [ALF_GPSS_PART], [ALF_GPSS_LLEG], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (2, 1, 2, 16, CAST(0x0000A7EA00000000 AS DateTime), 0, N'1.9999', N'1.9999', N'ivelarde', CAST(0x0000A7EA01055FB9 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMC_VISI] ([COD_VISI], [COD_CAMP], [COD_AGEN], [COD_MORO], [FEC_VISI], [IND_ESTA], [ALF_GPSS_PART], [ALF_GPSS_LLEG], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (3, 1, 2, 16, CAST(0x0000A7EA00000000 AS DateTime), 0, N'1.9999', N'1.9999', N'ivelarde', CAST(0x0000A7EA0105BE0E AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMD_CAMP_AGEN] ([COD_AGEN], [COD_CAMP], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (2, 1, N'ivelarde', CAST(0x0000A7EA00D8CB76 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMD_CAMP_AGEN] ([COD_AGEN], [COD_CAMP], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (3, 1, N'ivelarde', CAST(0x0000A7EA00D8CB76 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMD_CAMP_AGEN] ([COD_AGEN], [COD_CAMP], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (4, 1, N'ivelarde', CAST(0x0000A7EA00D8CB76 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMD_CAMP_MORO] ([COD_MORO], [COD_CAMP], [COD_AGEN], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (1, 1, 2, N'ivelarde', CAST(0x0000A7EA00DACD55 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMD_CAMP_MORO] ([COD_MORO], [COD_CAMP], [COD_AGEN], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (2, 1, 4, N'ivelarde', CAST(0x0000A7EA00DACD60 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[SHMD_CAMP_MORO] ([COD_MORO], [COD_CAMP], [COD_AGEN], [COD_USUA_CREA], [FEC_CREA], [COD_USUA_MODI], [FEC_MODI]) VALUES (3, 1, 2, N'ivelarde', CAST(0x0000A7EA00DACD61 AS DateTime), NULL, NULL)
GO
ALTER TABLE [dbo].[SHMC_AGEN]  WITH CHECK ADD  CONSTRAINT [R_14] FOREIGN KEY([COD_UBIG])
REFERENCES [dbo].[SHMC_UBIG] ([COD_UBIG])
GO
ALTER TABLE [dbo].[SHMC_AGEN] CHECK CONSTRAINT [R_14]
GO
ALTER TABLE [dbo].[SHMC_CAMP]  WITH CHECK ADD  CONSTRAINT [R_3] FOREIGN KEY([COD_CLIE])
REFERENCES [dbo].[SHMC_CLIE] ([COD_CLIE])
GO
ALTER TABLE [dbo].[SHMC_CAMP] CHECK CONSTRAINT [R_3]
GO
ALTER TABLE [dbo].[SHMC_MORO]  WITH CHECK ADD  CONSTRAINT [R_13] FOREIGN KEY([COD_UBIG])
REFERENCES [dbo].[SHMC_UBIG] ([COD_UBIG])
GO
ALTER TABLE [dbo].[SHMC_MORO] CHECK CONSTRAINT [R_13]
GO
ALTER TABLE [dbo].[SHMC_REPO]  WITH CHECK ADD  CONSTRAINT [R_12] FOREIGN KEY([COD_VISI])
REFERENCES [dbo].[SHMC_VISI] ([COD_VISI])
GO
ALTER TABLE [dbo].[SHMC_REPO] CHECK CONSTRAINT [R_12]
GO
ALTER TABLE [dbo].[SHMC_USUA]  WITH CHECK ADD  CONSTRAINT [R_1] FOREIGN KEY([COD_TIPO_USUA])
REFERENCES [dbo].[SHMC_TIPO_USUA] ([COD_TIPO_USUA])
GO
ALTER TABLE [dbo].[SHMC_USUA] CHECK CONSTRAINT [R_1]
GO
ALTER TABLE [dbo].[SHMC_USUA]  WITH CHECK ADD  CONSTRAINT [R_2] FOREIGN KEY([COD_AGEN])
REFERENCES [dbo].[SHMC_AGEN] ([COD_AGEN])
GO
ALTER TABLE [dbo].[SHMC_USUA] CHECK CONSTRAINT [R_2]
GO
ALTER TABLE [dbo].[SHMC_VISI]  WITH CHECK ADD  CONSTRAINT [R_11] FOREIGN KEY([COD_MORO], [COD_CAMP], [COD_AGEN])
REFERENCES [dbo].[SHMD_CAMP_MORO] ([COD_MORO], [COD_CAMP], [COD_AGEN])
GO
ALTER TABLE [dbo].[SHMC_VISI] CHECK CONSTRAINT [R_11]
GO
ALTER TABLE [dbo].[SHMD_CAMP_AGEN]  WITH CHECK ADD  CONSTRAINT [R_4] FOREIGN KEY([COD_AGEN])
REFERENCES [dbo].[SHMC_AGEN] ([COD_AGEN])
GO
ALTER TABLE [dbo].[SHMD_CAMP_AGEN] CHECK CONSTRAINT [R_4]
GO
ALTER TABLE [dbo].[SHMD_CAMP_AGEN]  WITH CHECK ADD  CONSTRAINT [R_5] FOREIGN KEY([COD_CAMP])
REFERENCES [dbo].[SHMC_CAMP] ([COD_CAMP])
GO
ALTER TABLE [dbo].[SHMD_CAMP_AGEN] CHECK CONSTRAINT [R_5]
GO
ALTER TABLE [dbo].[SHMD_CAMP_MORO]  WITH CHECK ADD  CONSTRAINT [R_6] FOREIGN KEY([COD_MORO])
REFERENCES [dbo].[SHMC_MORO] ([COD_MORO])
GO
ALTER TABLE [dbo].[SHMD_CAMP_MORO] CHECK CONSTRAINT [R_6]
GO
ALTER TABLE [dbo].[SHMD_CAMP_MORO]  WITH CHECK ADD  CONSTRAINT [R_8] FOREIGN KEY([COD_AGEN], [COD_CAMP])
REFERENCES [dbo].[SHMD_CAMP_AGEN] ([COD_AGEN], [COD_CAMP])
GO
ALTER TABLE [dbo].[SHMD_CAMP_MORO] CHECK CONSTRAINT [R_8]
GO
